.floating-action-button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;

  width: 2rem;
  height: 2rem;
  padding: 1em;
  border-radius: 50%;

  background-color: var(--sapIndicationColor_5_Background);
  box-shadow: var(--_ui5_toast_shadow);

  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-action-button.icon-offset {
  padding: 1em 0.8em 1em 1.2em;
}

.floating-action-button:hover {
  background-color: var(--sapIndicationColor_5_Hover_Background);
}

.floating-action-button:active {
  background-color: var(--sapIndicationColor_5_Active_Background);
}

.floating-action-button > * {
  color: var(--sapIndicationColor_5_TextColor);
  scale: 200%;
}
